
	<section id="main-container" class="main-container">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-xs-12">

					<div class="row text-center">
						<h2 class="title">
							History Of Dependability
							<span class="title-head">Our History &amp; Purpose</span>
						</h2>
					</div><!--/ Title row end -->

					<div class="row">
						<div class="col-md-6">
							<div id="page-slide" class="owl-carousel owl-theme page-slide">
								<div class="item">
									<img class="img-responsive" src="images/slider-pages/slide-page1.jpg" alt="">
								</div>

								<div class="item">
									<img class="img-responsive" src="images/slider-pages/slide-page2.jpg" alt="">
								</div>

								<div class="item">
									<img class="img-responsive" src="images/slider-pages/slide-page3.jpg" alt="">
								</div>
							</div><!-- Owl carousel -->

						</div><!-- Slideshow col end -->

						<div class="col-md-6">
							<h3 class="page-content-title first">What Does Saifway Means</h3>
							<p>Oat cake oat cake dessert brownie. Gummies tiramisu tart jujubes jelly beans macaroon danish pie muffin. Soufflé pudding brownie pudding fruitcake marshmallow I love. Dragée jujubes chocolate cake jelly beans. Curabitur blandit matti tempus porttitor. Donec id elit non mi porta ut gravida at eget metus. Aenean lacinia bibendum consectetur. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio.</p>

							<ul class="list-round-arrow">
								<li>There are many variations of passages of Lorem Ipsum</li>
								<li>All the Lorem Ipsum generators on the Internet</li>
								<li>Tend to repeat predefined chunks as necessary</li>
								<li>Soufflé pudding brownie pudding fruitcake</li>
								<li>Donec id elit non mi porta ut gravida at eget metus</li>
								<li>Duis mollis, est non commodo luctus</li>
							</ul>
						</div>
					</div><!-- Content row -->

					<div class="gap-30">&nbsp;</div>

					<div class="row">
						<div class="col-md-6">
							<h3 class="page-content-title">Products To Meet You</h3>
							<p>Oat cake oat cake dessert brownie. Gummies tiramisu tart jujubes jelly beans macaroon danish pie muffin. Soufflé pudding brownie pudding fruitcake marshmallow I love. Dragée jujubes chocolate cake jelly beans. Curabitur blandit matti tempus porttitor. Donec id elit non mi porta ut gravida at eget metus. Aenean lacinia bibendum consectetur. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio.</p>
						</div>
					<div class="col-md-6">
					<h3 class="page-content-title-classic">Our Corporate Responsibility</h3>
					Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient monte nascetur. Vivamus sagittis lacuson augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum. Gummies tiramisu tart jujubes jelly beans macaroon danish pie muffin chupa chups oat cake liquorice.</div>
					</div>

				</div><!-- Content Col end -->

			</div><!-- Main row end -->

		</div><!-- Conatiner end -->
	</section><!-- Main container end -->


	<section id="content-bottom" class="content-bottom solid-bg">
		<div class="container">
			<div class="row text-center">
				<h3 class="title">
					We Have Thoughts
					<span class="title-head">What We Believe</span>
				</h3>
			</div>

			<div class="row">
				<div class="col-md-6">
				   <div class="ts-service-box">
				      <span class="ts-service-icon"><i class="fa fa-paper-plane"></i></span>
				      <div class="ts-service-box-content">
				         <h3>We Have Vision</h3>
				         <p>Aenean et dolor pretium, feugiat leom nongial, aliquettiabser libero. Consectetur ut vestibulum vivamus vestibulum accumsa.</p>
				         <a href="#">Read More </a>
				      </div>
				   </div>
				</div>

				<div class="col-md-6">
				   <div class="ts-service-box">
				      <span class="ts-service-icon"><i class="fa fa-diamond"></i></span>
				      <div class="ts-service-box-content">
				         <h3>We Give the Values</h3>
				         <p>Aenean et dolor pretium, feugiat leom nongial, aliquettiabser libero. Consectetur ut vestibulum vivamus vestibulum accumsa.</p>
				         <a href="#">Read More </a>
				      </div>
				   </div>
				</div>
			</div><!-- Content bottom row 1 end -->

			<div class="gap-20"></div>

			<div class="row">
				<div class="col-md-6">
				   <div class="ts-service-box">
				      <span class="ts-service-icon"><i class="fa fa-anchor"></i></span>
				      <div class="ts-service-box-content">
				         <h3>We Have Mission</h3>
				         <p>Aenean et dolor pretium, feugiat leom nongial, aliquettiabser libero. Consectetur ut vestibulum vivamus vestibulum accumsa.</p>
				         <a href="#">Read More </a>
				      </div>
				   </div>
				</div>

				<div class="col-md-6">
				   <div class="ts-service-box">
				      <span class="ts-service-icon"><i class="fa fa-language"></i></span>
				      <div class="ts-service-box-content">
				         <h3>We are A Brand</h3>
				         <p>Aenean et dolor pretium, feugiat leom nongial, aliquettiabser libero. Consectetur ut vestibulum vivamus vestibulum accumsa.</p>
				         <a href="#">Read More </a>
				      </div>
				   </div>
				</div>
			</div><!-- Content bottom row 1 end -->

		</div><!-- Container end -->
	</section><!-- Content bottom end -->

	<section id="testimonial" class="testimonial">
		<div class="container">
			<div class="row text-center">
				<h3 class="title">
					We Love To Hear
					<span class="title-head">Words From Our Customers</span>
				</h3>
			</div><!--/ Title row end -->

			<div class="row">

				<div id="testimonial-slide" class="owl-carousel owl-theme testimonial-slide">
				  <div class="item">
				     <div class="testimonial-quote-item">
				     		<img class="testimonial-thumb" src="images/clients/testimonial1.png" alt="testimonial">
				         <span class="quote-text">
				           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris nisi ut aliquip ex ea commodo consequat.
				         </span>
				         <span class="quotes-author">Leslie R. Kelley,</span>
				         <span class="quotes-subtext">Manager, Luina Private Firm</span>
				       	
				     </div>
				  </div><!--/ Item 1 end -->

				  <div class="item">
				     <div class="testimonial-quote-item">
				     		<img class="testimonial-thumb" src="images/clients/testimonial2.png" alt="testimonial">
				         <span class="quote-text">
				           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris nisi ut aliquip ex ea commodo consequat.
				         </span>
				         <span class="quotes-author">Kevin Dixon,</span>
				         <span class="quotes-subtext">Govt. Official</span>
				       	
				     </div>
				  </div><!--/ Item 2 end -->

				  <div class="item">
				     <div class="testimonial-quote-item">
				     		<img class="testimonial-thumb" src="images/clients/testimonial3.png" alt="testimonial">
				         <span class="quote-text">
				           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris nisi ut aliquip ex ea commodo consequat.
				         </span>
				         <span class="quotes-author">Michael J. Higgins,</span>
				         <span class="quotes-subtext">Rtd. Army Officer</span>
				       	
				     </div>
				  </div><!--/ Item 3 end -->

				  <div class="item">
				     <div class="testimonial-quote-item">
				     		<img class="testimonial-thumb" src="images/clients/testimonial4.png" alt="testimonial">
				         <span class="quote-text">
				           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris nisi ut aliquip ex ea commodo consequat.
				         </span>
				         <span class="quotes-author">Tara Gray,</span>
				         <span class="quotes-subtext">Accountant, Private Firm</span>
				       	
				     </div>
				  </div><!--/ Item 4 end -->

				  <div class="item">
				     <div class="testimonial-quote-item">
				     		<img class="testimonial-thumb" src="images/clients/testimonial5.png" alt="testimonial">
				         <span class="quote-text">
				           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris nisi ut aliquip ex ea commodo consequat.
				         </span>
				         <span class="quotes-author">Connie Tinker,</span>
				         <span class="quotes-subtext">Govt. Official</span>
				       	
				     </div>
				  </div><!--/ Item 5 end -->

				  <div class="item">
				     <div class="testimonial-quote-item">
				     		<img class="testimonial-thumb" src="images/clients/testimonial6.png" alt="testimonial">
				         <span class="quote-text">
				           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris nisi ut aliquip ex ea commodo consequat.
				         </span>
				         <span class="quotes-author">Glen E. Green,</span>
				         <span class="quotes-subtext">School Teacher</span>
				       	
				     </div>
				  </div><!--/ Item 6 end -->

				</div><!--/ Testimonial carousel end-->

			</div><!--/ Content row end -->
		</div><!--/ Container end -->
	</section><!--/ Testimonial end -->
