

	<div id="box-slide" class="owl-carousel owl-theme box-slide">
		<div class="item" style="background-image:url(../assets/images/slider-main/bg3.jpg)">
			<div class="container">
				<div class="box-slider-content">
					<div class="box-slider-text">
						<h2 class="box-slide-title"> A Guarantee For Life &amp; <br/> 
							Level Premium For Life Time Protection
						</h2>
                	<p class="box-slide-desc">We have been providing stability and reliability to our clients since 1859 to help them live their lives with confidence give them peace of mind.</p>	
                	<a href="#" class="slider btn btn-primary">Learn More</a>
					</div>    
        		</div>
			</div>
			
		</div><!-- Item 1 end -->

		<div class="item" style="background-image:url(../assets/images/slider-main/bg2.jpg)">
			<div class="container">
				<div class="box-slider-content">
					<div class="box-slider-text">
						<h2 class="box-slide-title"> Saving For The Future <br/> 
 								Premium For Life Time Protection 
						</h2>
                	<p class="box-slide-desc">We have been providing stability and reliability to our clients since 1859 to help them live their lives with confidence give them peace of mind.</p>	
                	<a href="#" class="slider btn btn-primary">Learn More</a>
					</div>    
        		</div>
			</div>
		</div><!-- Item 2 end -->

		<div class="item" style="background-image:url(../assets/images/slider-main/bg4.jpg)">
			<div class="container">
				<div class="box-slider-content">
					<div class="box-slider-text">
						<h2 class="box-slide-title"> A Flexible Solutions
							<br /> Secure The Future, Protects What's Important
						</h2>
                	<p class="box-slide-desc">We have been providing stability and reliability to our clients since 1859 to help them live their lives with confidence give them peace of mind.</p>	
                	<a href="#" class="slider btn btn-primary">Learn More</a>
					</div>    
        		</div>
			</div>
		</div><!-- Item 3 end -->
	</div><!-- Owl carousel -->

	<section class="call-action-all no-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="action-text">
						<h2>Get Immediate Free Consultation !</h2>
					</div>
					<p class="action-btn"><a class="btn btn-primary" href="#">Get A Quote</a></p>
				</div>
			</div>
		</div><!--/ Container end -->
    </section><!-- Call to Action end -->


	<section id="ts-features" class="features-area">
		<div class="container">
			<div class="row text-center">
				<h2 class="title">
					We are a Dedicated Team
					<span class="title-head">Why Choose Us</span>
				</h2>
			</div><!--/ Title row end -->

			<div class="row service-bg-row">
				<div class="service-bg-box one col-md-4 col-sm-12">
					<span class="service-bg-icon"> <i class="fa fa-bar-chart">&nbsp;</i> </span>
					<div class="service-bg-box-content">
						<h3>30 Years Of Experience</h3>
						<p>You have ideas, goals, and dreams. We have a culturally diverse, forward thinking team looking for talent like you. Our workplace has been recognized time and again.</p>
					</div>
				</div><!-- Col 1 end -->

				<div class="service-bg-box two col-md-4 col-sm-12">
					<span class="service-bg-icon"> <i class="fa fa-car">&nbsp;</i> </span>
					<div class="service-bg-box-content">
						<h3>Flexible Benefits</h3>
						<p>You have ideas, goals, and dreams. We have a culturally diverse, forward thinking team looking for talent like you. Our workplace has been recognized time and again.</p>
					</div>
				</div><!-- Col 2 end -->

				<div class="service-bg-box three col-md-4 col-sm-12">
					<span class="service-bg-icon"> <i class="fa fa-users">&nbsp;</i> </span>
					<div class="service-bg-box-content">
						<h3>Friednly Staff</h3>
						<p>You have ideas, goals, and dreams. We have a culturally diverse, forward thinking team looking for talent like you. Our workplace has been recognized time and again.</p>
					</div>
				</div><!-- Col 3 end -->

			</div><!--/ Content row end -->
		</div><!--/ Container end -->
	</section><!-- About us end -->





	<section id="featured-tab-area" class="featured-tab-area">
		<div class="container">
			<div class="row text-center">
				<h3 class="title">
					We Are A Dedicated Firm
					<span class="title-head">Why Choose Saifway</span>
				</h3>
			</div><!--/ Title row end -->


			<div class="row">
				<div class="featured-tab clearfix">
					<ul class="nav nav-tabs col-sm-12 col-xs-12">
					  	<li class="active">
					  		<a class="animated fadeIn" href="#tab_a" data-toggle="tab">
					  			<span class="tab-head">
									<i class="fa fa-globe pull-left">&nbsp;</i>
									<span class="tab-text-title">Trusted Since 1976</span>					
								</span>
					  		</a>
					  	</li>
					  	<li>
						  	<a class="animated fadeIn" href="#tab_b" data-toggle="tab">
						  		<span class="tab-head">
									<i class="fa fa-users pull-left">&nbsp;</i>
									<span class="tab-text-title">2.9M Users Never Wrong</span>					
								</span>
						  	</a>
						</li>
					 	<li>
						  	<a class="animated fadeIn" href="#tab_c" data-toggle="tab">
						  		<span class="tab-head">
									<i class="fa fa-android pull-left">&nbsp;</i>
									<span class="tab-text-title">Easy Quotes and Apps</span>					
								</span>
						  	</a>
						</li>

						<li>
						  	<a class="animated fadeIn" href="#tab_d" data-toggle="tab">
						  		<span class="tab-head">
									<i class="fa fa-life-ring pull-left">&nbsp;</i>
									<span class="tab-text-title">Secure and Stable</span>					
								</span>
						  	</a>
						</li>

						<li>
						  	<a class="animated fadeIn" href="#tab_e" data-toggle="tab">
						  		<span class="tab-head">
									<i class="fa fa-user-secret pull-left">&nbsp;</i>
									<span class="tab-text-title">24/7 With Real Person</span>					
								</span>
						  	</a>
						</li>

					</ul>
					<div class="tab-content col-sm-12 col-xs-12">
				        <div class="tab-pane active animated fadeInRight" id="tab_a">
				        	<img class="img-responsive pull-right" src="../assets/images/tab/featured-tab1.jpg" alt="">
				        	<div class="tab-wrapper">
				        		<h3 class="tab-content-title">A History of Trust and Dependability</h3>
					         <p>None quis nibh vel erat tincidunt pretium. In sit amet massa sapien. Vestibulum diam turpis, gravida in lobortis id, ornare a eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis nulla non elit dignissim suscipit. Duis lorem nulla, eleifend. Ut urna dui, interdum non blandit sed, hendrerit ultricies mi. Aliquam at scelerisque ligula. Curabitur id laoreet velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis nulla non elit dignissim suscipit.</p>
					         <ul class="list-round-arrow">
									<li>There are many variations of passages of Lorem Ipsum</li>
									<li>All the Lorem Ipsum generators on the Internet</li>
									<li>Tend to repeat predefined chunks as necessary</li>
									<li>The point of using Lorem Ipsum is thatl</li>
								</ul>
				        	</div>
				        </div>

				        <div class="tab-pane animated fadeInLeft" id="tab_b">
				            <img class="img-responsive pull-left" src="../assets/images/tab/featured-tab2.png" alt="">
				            <h3>Harmony from the World heart</h3>
				            <h4>Simply dummy text of the printing</h4>
								<p>None quis nibh vel erat tincidunt pretium. In sit amet massa sapien. Vestibulum diam turpis, gravida in lobortis id, ornare a eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis nulla non elit dignissim suscipit. Duis lorem nulla, eleifend.</p>		
								<p>Ut urna dui, interdum non blandit sed, hendrerit ultricies mi. Aliquam at scelerisque ligula. Curabitur id laoreet velit.</p>					 
				        </div>

				        	<div class="tab-pane animated fadeInLeft" id="tab_c">
				            <p class="tab-icon pull-left"><i class="fa fa-android">&nbsp;</i></p>
				            <h3>Harmony from the World heart</h3>
								<h4>Simply dummy text of the printing</h4>
								<p>None quis nibh vel erat tincidunt pretium. In sit amet massa sapien. Vestibulum diam turpis, gravida in lobortis id, ornare a eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis nulla non elit dignissim suscipit. Duis lorem nulla, eleifend.</p>
								<p>Ut urna dui, interdum non blandit sed, hendrerit ultricies mi. Aliquam at scelerisque ligula. Curabitur id laoreet velit.</p>
				        	</div>	

				        	<div class="tab-pane animated fadeInLeft" id="tab_d">
				            <p><img class="pull-right img-responsive" src="../assets/images/tab/featured-tab3.png" alt=""></p>
								<h3>Harmony from the World heart</h3>
								<p>None quis nibh vel erat tincidunt pretium. In sit amet massa sapien. Vestibulum diam turpis, gravida in lobortis id, ornare a eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis nulla non elit dignissim suscipit. Duis lorem nulla, eleifend.</p>
								<p>Ut urna dui, interdum non blandit sed, hendrerit ultricies mi. Aliquam at scelerisque ligula. Curabitur id laoreet velit.</p>
				        	</div>

				        	<div class="tab-pane animated fadeInLeft" id="tab_e">
				            <p><img class="pull-left img-responsive" src="../assets/images/tab/featured-tab4.png" alt=""></p>
								<h3>Harmony from the World heart</h3>
								<p>None quis nibh vel erat tincidunt pretium. In sit amet massa sapien. Vestibulum diam turpis, gravida in lobortis id, ornare a eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis nulla non elit dignissim suscipit. Duis lorem nulla, eleifend.</p>
								<p>Ut urna dui, interdum non blandit sed, hendrerit ultricies mi. Aliquam at scelerisque ligula. Curabitur id laoreet velit.</p>
				        	</div>
		
					</div><!-- tab content -->
	    		</div><!-- Featured tab end -->
			</div><!--/ Content row end -->

		</div><!--/ Container end -->
	</section><!-- Featured tab end -->

	<section id="ts-content" class="ts-content no-padding">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 ts-padding left">
					<h2>We are Here to Help</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

					<div class="row">
						<div class="col-md-6 service-box"><i class="fa fa-pie-chart">&nbsp;</i>
							<div class="service-box-content">
								<h3>Financial Security</h3>
								<p>Aliquam posuere gravida tristique. Vestibulum dolor turpis, gravida vitae euismod at, consectetur quis felis.</p>
							</div>
						</div><!--/ Box 1 end -->
						
						<div class="col-md-6 service-box"><i class="fa fa-line-chart">&nbsp;</i>
							<div class="service-box-content">
								<h3>Savings and Investing</h3>
								<p>Aliquam posuere gravida tristique. Vestibulum dolor turpis, gravida vitae euismod at, consectetur quis felis.</p>
							</div>
						</div><!--/ Box 2 end -->
					</div><!-- 1st row end -->

					<div class="row">
						<div class="col-md-6 service-box"><i class="fa fa-briefcase">&nbsp;</i>
							<div class="service-box-content">
								<h3>Business Goals</h3>
								<p>Aliquam posuere gravida tristique. Vestibulum dolor turpis, gravida vitae euismod at, consectetur quis felis.</p>
							</div>
						</div><!--/ Box 3 end -->
					
						<div class="col-md-6 service-box"><i class="fa fa-graduation-cap">&nbsp;</i>
							<div class="service-box-content">
								<h3>Paying for Education</h3>
								<p>Aliquam posuere gravida tristique. Vestibulum dolor turpis, gravida vitae euismod at, consectetur quis felis.</p>
							</div>
						</div><!--/ Box 4 end -->
					</div>
				</div><!-- Content left -->

				<div class="col-md-6 ts-padding right" style="height:600px;background:url(../assets/images/content-bg.jpg) 50% 50% / cover no-repeat;">
					<a class='popup' href="http://player.vimeo.com/video/100195272?autoplay=1&amp;loop=1" style="position: relative;">
                  <div class="video-icon">
                  	<i class="fa fa-play"></i>
                  	<h2>Watch Our Video</h2>
               	</div>
            	</a>
				</div><!-- Content right -->


			</div><!--/ Content row end -->
		</div><!--/ Container end -->
	</section><!-- Content end -->

	<section id="facts" class="facts no-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h2 class="intro-title">
						sucessful Milestone Area
						<span class="title-head"> The Importance Of Being Covered</span>
					</h2>
					<p>We have been providing stability and reliability to our clients since 1859 to help them live their lives with confidence, to give them peace of mind, and enable them to realize their dreams for their loved ones and their legacy.We have been providing stability and reliability to our clients since 1859 to help them live their lives with confidence, to give them peace of mind, and enable them to realize their dreams for their loved ones and their legacy.</p>
					<p><a class="btn btn-dark" href="#">Talk to Us</a></p>

				</div><!-- Col end -->

				<div class="col-md-6">
					<div class="facts-wrapper">
						<div class="col-md-6 ts-facts">
							<div class="ts-facts-icon">
								<i class="fa fa-umbrella"></i>
							</div>
							<div class="ts-facts-content">
								<h2 class="ts-facts-num"><span class="counterUp">7968</span></h2>
								<h3 class="ts-facts-title">Insurance Policies</h3>
							</div>
						</div><!-- Col end -->

						<div class="col-md-6 ts-facts">
							<div class="ts-facts-icon">
								<i class="fa fa-globe"></i>
							</div>
							<div class="ts-facts-content">
								<h2 class="ts-facts-num"><span class="counterUp">127</span></h2>
								<h3 class="ts-facts-title">Countries World Wide</h3>
							</div>
						</div><!-- Col end -->

						<div class="col-md-6 ts-facts">
							<div class="ts-facts-icon">
								<i class="fa fa-smile-o"></i>
							</div>
							<div class="ts-facts-content">
								<h2 class="ts-facts-num"><span class="counterUp">2979</span></h2>
								<h3 class="ts-facts-title">Happy Customers</h3>
							</div>
						</div><!-- Col end -->

						<div class="col-md-6 ts-facts">
							<div class="ts-facts-icon">
								<i class="fa fa-street-view"></i>
							</div>
							<div class="ts-facts-content">
								<h2 class="ts-facts-num"><span class="counterUp">1798</span></h2>
								<h3 class="ts-facts-title">Insurance Agencies</h3>
							</div>
						</div>
					</div> <!-- Facts end -->
				</div><!-- Col end -->
			</div><!--/ Content row end -->
		</div><!--/ Container end -->
	</section><!-- Facts end -->


	<section id="news" class="news">
		<div class="container">
			<div class="down-arrow-color"></div>
			<div class="row text-center">
				<h3 class="title">
					Get Up to Date
					<span class="title-head">Latest Update From News</span>
				</h3>
			</div><!--/ Title row end -->

			<div class="row">
				<div class="col-md-4 col-xs-12">
					<div class="latest-post">
						<img class="img-responsive" src="../assets/images/news/news1.jpg" alt="img">
						<div class="post-body">
							<h4 class="post-title">
								<a href="#">Saifway Approves Estimated $1.7 Billion Payout for Policyowners</a>
							</h4>
							<span class="post-item-date">
								<i class="fa fa-clock-o"></i> December 11, 2015
							</span>
							<span class="post-item-author">
								<i class="fa fa-user"></i> Admin
							</span>
							<div class="post-text">
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some  Ut urna dui, interdum non blandit sed.</p>
							</div>
						</div>	
						<a href="#" class="btn btn-primary">Read More</a>
					</div><!-- Latest post end -->
				</div><!-- 1st post col end -->

				<div class="col-md-4 col-xs-12">
					<div class="latest-post">
						<img class="img-responsive" src="../assets/images/news/news2.jpg" alt="img">
						<div class="post-body">
							<h4 class="post-title">
								<a href="#">Saifway Enhanced Customer Self Service Experience</a>
							</h4>
							<span class="post-item-date">
								<i class="fa fa-clock-o"></i> December 11, 2015
							</span>
							<span class="post-item-author">
								<i class="fa fa-user"></i> Admin
							</span>
							<div class="post-text">
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some  Ut urna dui, interdum non blandit sed.</p>
							</div>
						</div>	
						<a href="#" class="btn btn-primary">Read More</a>
					</div><!-- Latest post end -->
				</div><!-- 2nd post col end -->

				<div class="col-md-4 col-xs-12">
					<div class="latest-post">
						<img class="img-responsive" src="../assets/images/news/news3.jpg" alt="img">
						<div class="post-body">
							<h4 class="post-title">
								<a href="#">Technological changes reshaping reinsurance industry</a>
							</h4>
							<span class="post-item-date">
								<i class="fa fa-clock-o"></i> December 11, 2015
							</span>
							<span class="post-item-author">
								<i class="fa fa-user"></i> Admin
							</span>
							<div class="post-text">
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some  Ut urna dui, interdum non blandit sed.</p>
							</div>
						</div>	
						<a href="#" class="btn btn-primary">Read More</a>
					</div><!-- Latest post end -->
				</div><!-- 3rd post col end -->

			</div><!--/ Content row end -->
		</div><!--/ Container end -->
	</section><!--/ News end -->

	<section id="testimonial" class="testimonial">
		<div class="container">
			<div class="row text-center">
				<h3 class="title">
					We Love To Hear
					<span class="title-head">Words From Our Customers</span>
				</h3>
			</div><!--/ Title row end -->

			<div class="row">

				<div id="testimonial-slide" class="owl-carousel owl-theme testimonial-slide">
				  <div class="item">
				     <div class="testimonial-quote-item">
				     		<img class="testimonial-thumb" src="../assets/images/clients/testimonial1.png" alt="testimonial">
				         <span class="quote-text">
				           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris nisi ut aliquip ex ea commodo consequat.
				         </span>
				         <span class="quotes-author">Leslie R. Kelley,</span>
				         <span class="quotes-subtext">Manager, Luina Private Firm</span>
				       	
				     </div>
				  </div><!--/ Item 1 end -->

				  <div class="item">
				     <div class="testimonial-quote-item">
				     		<img class="testimonial-thumb" src="../assets/images/clients/testimonial2.png" alt="testimonial">
				         <span class="quote-text">
				           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris nisi ut aliquip ex ea commodo consequat.
				         </span>
				         <span class="quotes-author">Kevin Dixon,</span>
				         <span class="quotes-subtext">Govt. Official</span>
				       	
				     </div>
				  </div><!--/ Item 2 end -->

				  <div class="item">
				     <div class="testimonial-quote-item">
				     		<img class="testimonial-thumb" src="../assets/images/clients/testimonial3.png" alt="testimonial">
				         <span class="quote-text">
				           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris nisi ut aliquip ex ea commodo consequat.
				         </span>
				         <span class="quotes-author">Michael J. Higgins,</span>
				         <span class="quotes-subtext">Rtd. Army Officer</span>
				       	
				     </div>
				  </div><!--/ Item 3 end -->

				  <div class="item">
				     <div class="testimonial-quote-item">
				     		<img class="testimonial-thumb" src="../assets/images/clients/testimonial4.png" alt="testimonial">
				         <span class="quote-text">
				           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris nisi ut aliquip ex ea commodo consequat.
				         </span>
				         <span class="quotes-author">Tara Gray,</span>
				         <span class="quotes-subtext">Accountant, Private Firm</span>
				       	
				     </div>
				  </div><!--/ Item 4 end -->

				  <div class="item">
				     <div class="testimonial-quote-item">
				     		<img class="testimonial-thumb" src="../assets/images/clients/testimonial5.png" alt="testimonial">
				         <span class="quote-text">
				           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris nisi ut aliquip ex ea commodo consequat.
				         </span>
				         <span class="quotes-author">Connie Tinker,</span>
				         <span class="quotes-subtext">Govt. Official</span>
				       	
				     </div>
				  </div><!--/ Item 5 end -->

				  <div class="item">
				     <div class="testimonial-quote-item">
				     		<img class="testimonial-thumb" src="../assets/images/clients/testimonial6.png" alt="testimonial">
				         <span class="quote-text">
				           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris nisi ut aliquip ex ea commodo consequat.
				         </span>
				         <span class="quotes-author">Glen E. Green,</span>
				         <span class="quotes-subtext">School Teacher</span>
				       	
				     </div>
				  </div><!--/ Item 6 end -->

				</div><!--/ Testimonial carousel end-->

			</div><!--/ Content row end -->
		</div><!--/ Container end -->
	</section><!--/ Testimonial end -->

   

