
<nav class="site-navigation navigation">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="site-nav-inner pull-left">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<div class="collapse navbar-collapse navbar-responsive-collapse">
						<ul class="nav navbar-nav">
							<li class="dropdown active">
								<a href="index.php" class="dropdown-toggle"> [Navbar_Home] </a>
							</li>

							<li class="dropdown dropdown-large">
								<a href="about.php" class="dropdown-toggle" > [Navbar_About us] </a>
							</li>

							<li class="dropdown">
								<a href="services.php" class="dropdown-toggle"> [Navbar_Our Services] </a>
							</li>

							<li class="dropdown">
								<a href="product.php" class="dropdown-toggle" >[Navbar_Our Products] </a>
							</li>

							<li class="dropdown">
								<a href="team.php" class="dropdown-toggle" >[Navbar_Team Members] </i></a>
							</li>

							<li class="dropdown">
								<a href="contact.php" class="dropdown-toggle" >[Navbar_Contact us]</a>

							</li>

						</ul><!--/ Nav ul end -->
					</div><!--/ Collapse end -->

				</div><!-- Site Navbar inner end -->

				<!--
				<div class="find-agent pull-right">
					<a href="">change the language</a>
				</div>
				-->


			</div><!--/ Cold end -->
		</div><!--/ Row end -->
	</div><!--/ Container end -->

</nav><!--/ Navigation end -->
</header><!--/ Header end -->