<section id="main-container" class="main-container">
		<div class="container">
			<div class="row text-center">
				<h2 class="title">
					We Offer
					<span class="title-head">Personal Solutions</span>
				</h2>
			</div><!--/ Title row end -->

			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="ts-service-wrapper">
						<div class="ts-service-icon-wrapper">
							<span class="ts-service-icon"><i class="fa fa-home"></i></span>
						</div>
						<div class="ts-service-info">
							<h3>Home Solutions</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer suscipit congue turpis nec finibus.</p>
						</div>
					</div>
				</div><!-- Col 1 end -->

				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="ts-service-wrapper">
						<div class="ts-service-icon-wrapper">
							<span class="ts-service-icon"><i class="fa fa-car"></i></span>
						</div>
						<div class="ts-service-info">
							<h3>Auto Solutions</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer suscipit congue turpis nec finibus.</p>
						</div>
					</div>
				</div><!-- Col 2 end -->

				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="ts-service-wrapper">
						<div class="ts-service-icon-wrapper">
							<span class="ts-service-icon"><i class="fa fa-heartbeat"></i></span>
						</div>
						<div class="ts-service-info">
							<h3>Life Solutions</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer suscipit congue turpis nec finibus.</p>
						</div>
					</div>
				</div><!-- Col 3 end -->

				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="ts-service-wrapper">
						<div class="ts-service-icon-wrapper">
							<span class="ts-service-icon"><i class="fa fa-wheelchair"></i></span>
						</div>
						<div class="ts-service-info">
							<h3>Long Term Care</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer suscipit congue turpis nec finibus.</p>
						</div>
					</div>
				</div><!-- Col 4 end -->
			
			</div><!-- Content row -->
		</div><!-- Conatiner end -->
	</section><!-- Main container end -->


	<section id="content-bottom" class="content-bottom solid-bg">
		<div class="container">
			<div class="row text-center">
				<h3 class="title">
					We Offer
					<span class="title-head">Business Solutions</span>
				</h3>
			</div><!-- Title row end -->

			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="ts-service-wrapper">
						<div class="ts-service-icon-wrapper">
							<span class="ts-service-icon"><i class="fa fa-user-secret"></i></span>
						</div>
						<div class="ts-service-info">
							<h3>Workers Compensation</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer suscipit congue turpis nec finibus.</p>
						</div>
					</div>
				</div><!-- Col 1 end -->

				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="ts-service-wrapper">
						<div class="ts-service-icon-wrapper">
							<span class="ts-service-icon"><i class="fa fa-university"></i></span>
						</div>
						<div class="ts-service-info">
							<h3>Property Solutions</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer suscipit congue turpis nec finibus.</p>
						</div>
					</div>
				</div><!-- Col 2 end -->

				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="ts-service-wrapper">
						<div class="ts-service-icon-wrapper">
							<span class="ts-service-icon"><i class="fa fa-laptop"></i></span>
						</div>
						<div class="ts-service-info">
							<h3>Ciber Liability</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer suscipit congue turpis nec finibus.</p>
						</div>
					</div>
				</div><!-- Col 3 end -->

				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="ts-service-wrapper">
						<div class="ts-service-icon-wrapper">
							<span class="ts-service-icon"><i class="fa fa-car"></i></span>
						</div>
						<div class="ts-service-info">
							<h3>Auto Solutions</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer suscipit congue turpis nec finibus.</p>
						</div>
					</div>
				</div><!-- Col 4 end -->
	
			</div><!-- Content bottom row 1 end -->

		</div><!-- Container end -->
	</section><!-- Content bottom end -->

	<!-- Partners start -->
	<section id="partners-area" class="partners-area">
		<div class="container">
			<div class="row text-center">
				<h3 class="title">
					People Trust Us
					<span class="title-head">Insurance Partners</span>
				</h3>
			</div> <!-- Title row end -->

			<div class="row">
		      <div id="partners-carousel" class="col-sm-12 owl-carousel owl-theme text-center partners">
		        <figure class="item partner-logo">
		          <a href="#">
		            <img class="img-responsive" src="images/partners/partner1.jpg" alt="client">
		          </a>
		        </figure>

		        <figure class="item partner-logo">
		          <a href="#">
		            <img class="img-responsive" src="images/partners/partner2.jpg" alt="client">
		          </a>
		        </figure>

		        <figure class="item partner-logo">
		          <a href="#">
		            <img class="img-responsive" src="images/partners/partner3.jpg" alt="client">
		          </a>
		        </figure>

		        <figure class="item partner-logo">
		          <a href="#">
		            <img class="img-responsive" src="images/partners/partner4.jpg" alt="client">
		          </a>
		        </figure>

		        <figure class="item partner-logo">
		          <a href="#">
		            <img class="img-responsive" src="images/partners/partner5.jpg" alt="client">
		          </a>
		        </figure>

		        <figure class="item partner-logo">
		          <a href="#">
		            <img class="img-responsive" src="images/partners/partner6.jpg" alt="client">
		          </a>
		        </figure>

		        <figure class="item partner-logo">
		          <a href="#">
		            <img class="img-responsive" src="images/partners/partner7.jpg" alt="client">
		          </a>
		        </figure>

		        <figure class="item partner-logo">
		          <a href="#">
		            <img class="img-responsive" src="images/partners/partner8.jpg" alt="client">
		          </a>
		        </figure>

		        <figure class="item partner-logo">
		          <a href="#">
		            <img class="img-responsive" src="images/partners/partner9.jpg" alt="client">
		          </a>
		        </figure>

		        <figure class="item partner-logo last">
		          <a href="#">
		            <img class="img-responsive" src="images/partners/partner10.jpg" alt="client">
		          </a>
		        </figure>
		        
		      </div><!--/ Owl carousel end -->

	    	</div><!--/ Content row end -->
		</div><!--/ Container end -->
	</section><!--/ Partners end -->

