<section id="product-area" class="product-area" style="background-image:url(assets/images/product-bg.jpg)">
	<div class="container">
		<div class="row text-center">
			<h2 class="title">
				We've Got You Covered
				<span class="title-head">Insurance Product</span>
			</h2>
		</div><!--/ Title row end -->

		<!--Isotope filter start -->
		<div class="row text-center">
			<div class="isotope-nav" data-isotope-nav="isotope">
				<ul>
					<li><a href="#" class="active" data-filter="*">All</a></li>
					<li><a href="#" data-filter=".life">Life</a></li>
					<li><a href="#" data-filter=".home">Home</a></li>
					<li><a href="#" data-filter=".auto">Auto</a></li>
					<li><a href="#" data-filter=".bike">Bike</a></li>
					<li><a href="#" data-filter=".boat">Boat</a></li>
					<li><a href="#" data-filter=".pet">Pet</a></li>
				</ul>
			</div>
		</div><!-- Isotope filter end -->

		<div class="row">
			<div id="isotope" class="isotope">
				<div class="col-sm-4 col-xs-12 life isotope-item">
					<div class="isotop-img-conatiner">
						<img class="img-responsive" src="assets/images/insurance/life-insurance.jpg" alt="">
						<div class="isotope-item-info">
							<h3 class="isotope-item-title"><a href="life-insurance.html">Life Insurance</a></h3>
							<p><a href="life-insurance.html" class="btn btn-primary">Read More</a></p>
						</div>
					</div>
				</div><!-- Isotope item 1 end -->

				<div class="col-sm-4 col-xs-12 home isotope-item">
					<div class="isotop-img-conatiner">
						<img class="img-responsive" src="assets/images/insurance/home-insurance.jpg" alt="">
						<div class="isotope-item-info">
							<h3 class="isotope-item-title"><a href="life-insurance.html">Home Insurance</a></h3>
							<p><a href="life-insurance.html" class="btn btn-primary">Read More</a></p>
						</div>
					</div>
				</div><!-- Isotope item 2 end -->

				<div class="col-sm-4 col-xs-12 auto isotope-item">
					<div class="isotop-img-conatiner">
						<img class="img-responsive" src="assets/images/insurance/auto-insurance.jpg" alt="">
						<div class="isotope-item-info">
							<h3 class="isotope-item-title"><a href="life-insurance.html">Auto Insurance</a></h3>
							<p><a href="life-insurance.html" class="btn btn-primary">Read More</a></p>
						</div>
					</div>
				</div><!-- Isotope item 3 end -->

				<div class="col-sm-4 col-xs-12 bike isotope-item">
					<div class="isotop-img-conatiner">
						<img class="img-responsive" src="assets/images/insurance/bike-insurance.jpg" alt="">
						<div class="isotope-item-info">
							<h3 class="isotope-item-title"><a href="life-insurance.html">Bike Insurance</a></h3>
							<p><a href="life-insurance.html" class="btn btn-primary">Read More</a></p>
						</div>
					</div>
				</div><!-- Isotope item 4 end -->

				<div class="col-sm-4 col-xs-12 boat isotope-item">
					<div class="isotop-img-conatiner">
						<img class="img-responsive" src="assets/images/insurance/boat-insurance.jpg" alt="">
						<div class="isotope-item-info">
							<h3 class="isotope-item-title"><a href="life-insurance.html">Boat Insurance</a></h3>
							<p><a href="life-insurance.html" class="btn btn-primary">Read More</a></p>
						</div>
					</div>
				</div><!-- Isotope item 5 end -->

				<div class="col-sm-4 col-xs-12 pet isotope-item">
					<div class="isotop-img-conatiner">
						<img class="img-responsive" src="assets/images/insurance/pet-insurance.jpg" alt="">
						<div class="isotope-item-info">
							<h3 class="isotope-item-title"><a href="life-insurance.html">Pet Insurance</a></h3>
							<p><a href="life-insurance.html" class="btn btn-primary">Read More</a></p>
						</div>
					</div>
				</div><!-- Isotope item 5 end -->



			</div><!-- Isotope end -->
		</div><!-- Content Row -->

	</div><!--/ Container end -->
	<div class="down-arrow-white"></div>
</section><!-- Product area end -->