
	<section id="main-container" class="main-container">
		<div class="container">
			<div class="row text-center">
				<h2 class="title">
					<span class="title-head">Team Members</span>
				</h2>
			</div><!--/ Title row end -->

			<div class="row">
				<div id="team-slide" class="owl-carousel owl-theme team-slide">

					<div class="item">
					   <div class="team-wrapper">
					      <div class="team-img-wrapper">
					         <div class="team-img-wrapper-hover">
					            <div class="social-icons">
					               <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
					            </div><!--/ social-icons-->
					         </div>
					         <img alt="" src="images/team/team1.jpg" class="img-responsive">
					      </div>
					      <div class="team-content">
					         <h3 class="ts-name">Kelly D. Williams</h3>
					         <p class="ts-designation">Founder &amp; Director</p>
					         <p class="ts-description">Ut urna dui, interdum non blandit sed, hendrerit ultricies mi. Aliquam at scelerisque ligula. </p>
					      </div>
					   </div><!--/ Team wrapper end -->
					</div><!-- Team 1 end -->

					<div class="item">
					   <div class="team-wrapper">
					      <div class="team-img-wrapper">
					         <div class="team-img-wrapper-hover">
					            <div class="social-icons">
					               <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
					            </div><!--/ social-icons-->
					         </div>
					         <img alt="" src="images/team/team2.jpg" class="img-responsive">
					      </div>
					      <div class="team-content">
					         <h3 class="ts-name">Stephen C. Payne</h3>
					         <p class="ts-designation">Chief Information Officer</p>
					         <p class="ts-description">Ut urna dui, interdum non blandit sed, hendrerit ultricies mi. Aliquam at scelerisque ligula. </p>
					      </div>
					   </div><!--/ Team wrapper end -->
					</div><!-- Team 2 end -->

					<div class="item">
					   <div class="team-wrapper">
					      <div class="team-img-wrapper">
					         <div class="team-img-wrapper-hover">
					            <div class="social-icons">
					               <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
					            </div><!--/ social-icons-->
					         </div>
					         <img alt="" src="images/team/team3.jpg" class="img-responsive">
					      </div>
					      <div class="team-content">
					         <h3 class="ts-name">Declan Bird</h3>
					         <p class="ts-designation">Company Secretary</p>
					         <p class="ts-description">Ut urna dui, interdum non blandit sed, hendrerit ultricies mi. Aliquam at scelerisque ligula. </p>
					      </div>
					   </div><!--/ Team wrapper end -->
					</div><!-- Team 3 end -->

					<div class="item">
					   <div class="team-wrapper">
					      <div class="team-img-wrapper">
					         <div class="team-img-wrapper-hover">
					            <div class="social-icons">
					               <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
					            </div><!--/ social-icons-->
					         </div>
					         <img alt="" src="images/team/team4.jpg" class="img-responsive">
					      </div>
					      <div class="team-content">
					         <h3 class="ts-name">Ella Lloyd</h3>
					         <p class="ts-designation">Chief Risk Officer</p>
					         <p class="ts-description">Ut urna dui, interdum non blandit sed, hendrerit ultricies mi. Aliquam at scelerisque ligula. </p>
					      </div>
					   </div><!--/ Team wrapper end -->
					</div><!-- Team 4 end -->

					<div class="item">
					   <div class="team-wrapper">
					      <div class="team-img-wrapper">
					         <div class="team-img-wrapper-hover">
					            <div class="social-icons">
					               <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
					            </div><!--/ social-icons-->
					         </div>
					         <img alt="" src="images/team/team5.jpg" class="img-responsive">
					      </div>
					      <div class="team-content">
					         <h3 class="ts-name">Emily Kerr</h3>
					         <p class="ts-designation">Chief Financial Officer</p>
					         <p class="ts-description">Ut urna dui, interdum non blandit sed, hendrerit ultricies mi. Aliquam at scelerisque ligula. </p>
					      </div>
					   </div><!--/ Team wrapper end -->
					</div><!-- Team 5 end -->

					<div class="item">
					   <div class="team-wrapper">
					      <div class="team-img-wrapper">
					         <div class="team-img-wrapper-hover">
					            <div class="social-icons">
					               <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
					            </div><!--/ social-icons-->
					         </div>
					         <img alt="" src="images/team/team6.jpg" class="img-responsive">
					      </div>
					      <div class="team-content">
					         <h3 class="ts-name">Alexander Watts</h3>
					         <p class="ts-designation">Manager Human Resources</p>
					         <p class="ts-description">Ut urna dui, interdum non blandit sed, hendrerit ultricies mi. Aliquam at scelerisque ligula. </p>
					      </div>
					   </div><!--/ Team wrapper end -->
					</div><!-- Team 6 end -->

				</div><!-- Team slide end -->

			</div><!-- Content row -->
		</div><!-- Conatiner end -->
	</section><!-- Main container end -->
